* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 80vh;
    width: 60vw;
    margin: auto;
}
p {
    font-size: 1.5rem;
    text-align: center;
}
header {
    background-color: red;
    height: 17vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    background-color: lightblue;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside {
    background-color: yellow;
    /* float: left; */
    height: 50vh;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    background-color: gray;
    height: 50vh;
    width: 75%; 
    display: flex;
    align-items: center;
    justify-content: center; 
}
div {
    display: flex;
}
footer{
    background-color: #333;
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: center;
}