* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 80vh;
    width: 60vw;
    margin: auto;
}
p {
    font-size: 1.5rem;
    text-align: center;
}
header {
    background-color: red;
    height: 15vh;
}
nav {
    background-color: lightblue;
    height: 10vh;
}
aside {
    background-color: yellow;
    float: left;
    height: 40vh;
    width: 25%;
}
main {
    background-color: gray;
    height: 40vh;
    width: 100%;
}
footer{
    background-color: #333;
    height: 15vh;
}