* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

img {
	height: 400px;
	cursor: pointer;
}

p {
	text-align: center;
	font-size: 2rem;
}

button {
	text-align: center;
	font-size: 2rem;
}

#on {
	background-color: #4caf50;
	color: white;
	border: none;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	cursor: pointer;
}

#off {
	background-color: #f44336;
	color: white;
	border: none;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	cursor: pointer;
}
