body {
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ürünler {
    background-color: #333;
    width: 200px;
    height: 50px;
    color: white;
    text-align: center;
    position: relative;
    line-height: 50px;

}

.liste {
    border: 1px solid #333;
    width: 220px;
    color: black;
    display: none;
    text-align: left;
    position: absolute;
    top: 50px;
    line-height: normal;
}

.ürünler:hover .liste {
    display: block;
}