div {
    border: 3.2px solid #AAACAC;
    border-radius: 3px;
    margin: 0 auto;
    display: flex;
}

img {
    width: 250px;
    border-radius: 0.3rem;
    margin: 0 auto;
}

p {
    width: 60%;
 }

p, h2 {
    margin-left: 0.3rem;
}