.box {
  border: 2px solid red;
  width: 20rem;
  height: 5rem;
  margin-bottom: 10rem;
}
.first {
  overflow: visible; /* default visible*/
}

.second {
  overflow: hidden;
}

.third {
  overflow: scroll;
}

.fourth {
  overflow: auto;
}

.fifth {
  overflow: auto;
}

.par {
  width: 80rem;
}
